################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GitSampleMVC/.vs
/GitSampleMVC/packages
/GitSampleMVC/GitSampleMVC/bin
/GitSampleMVC/GitSampleMVC/obj/Debug
